!!!
%html
  %head
    %title Dane Natoli | Info
    %link{ :href => "stylesheets/application.css?body=1", :media => "all", :rel => "stylesheet", :type =>"text/css" }
    %script{ :src => "scripts/analytics.js", :type => "text/javascript" }
  %body
    %img{ :src => "images/profile.jpg" }
    %div
      %h1 Dane Natoli
      %p
        I'm a web developer, currently living in Whistler, Canada and working as an Engineer in Residence for <a href="http://www.payrollhero.com">PayrollHero.com</a>.
      %p
        I grew up in Melbourne, Australia, always interested in computers and the web. The first thing I ever made was a Nintendo 64 cheat site I hosted on Geocities when I was 12. I continued pursuing my interest in computers, completing a Computer Science degree at <a href="http://www.rmit.edu.au">RMIT</a>  in 2007.
      %p
        In 2006 I began working for a small software company called <a href="http://www.hannanit.com.au">HannanIT</a>, developing software solutions for various clients around Melbourne.
      %p
        After taking a year off to head to <a href="http://www.whistlerblackcomb.com">Whistler Blackcomb</a> for the 09/10 ski season (including the Winter Olympics!), I came back to HannanIT, helping transform the software team into an awesome Agile development shop, <a href="http://www.lambdasoftware.com.au">Lambda Software</a> where I took the role of Software Team Lead. I also worked hard to develop my web skills, becoming the tech lead on all Ruby on Rails projects.
      %p
        I moved back to Whistler at the end of 2012 and joined up with the <a href="http://www.payrollhero.com">PayrollHero</a> crew where I work on our Rails-based payroll platform, where I create new features and a better experience for our customers.
      %p
        If you want to know more about me and my work, feel free to check out my
        <a href="resume">resume</a>,
        <a href="http://github.com/link664">github</a>,
        <a href="http://twitter.com/link664">Twitter</a> and
        <a href="http://au.linkedin.com/in/dnatoli">LinkedIn</a>.
      %p
        When not sitting behind a computer, I can be found either on the ski fields, in a pub, hidden behind a book or sitting on the couch with an Xbox controller in my hand.
