!!!
%html
  %head
    %title Dane Natoli | Resume
    %link{ :href => 'http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600,700|Enriqueta:400,700', :rel => 'stylesheet', :type => 'text/css' }
    %link{ :href => "stylesheets/resume.css?body=1", :media => "all", :rel => "stylesheet", :type => "text/css" }
    %script{ :src => "https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js", :type => "text/javascript" }
    %script{ :src => "scripts/analytics.js", :type => "text/javascript" }
  %body>
    .head
      .heading
        %h1 Dane Natoli
        %h2 Software & Web Developer
        %p.contact-details
          %a{ :href => "mailto:dane.natoli@gmail.com", :class => "reverse" }>moc.liamg@ilotan.enad
          %br
          %a{ :href => "http://www.danenatoli.info/"}>www.danenatoli.info
        %p
          Whistler, Canada
          %br
          +1 604 388-4504
      %img{ :src => "images/circle-profile.png" }
    .content
      .about
        %h3 About me
        %p
          Software development has always been a passion of mine.  I find it extremely satisfying creating something that can affect people's work and lives so profoundly. 
        %ul
          %li Over 7 years commercial software and web development experience
          %li A special interest in web application development
          %li Currently working as an Engineer in Residence for <a href="http://www.payrollhero.com">PayrollHero.com</a>, a startup in Whistler, BC.
          %li Experienced in web and desktop software, as well as database and server scripting
          %li Strong communication and technical skills, with the ability to lead a team
          %li Managed a team of developers across multiple projects and platforms
          %li Acted as Ruby on Rails technical lead
          %li Organised and highly motivated, with a desire to learn and be challenged
          %li Promoter of the Agile manifesto and Certified Scrum Master
      .skills.right
        %h3 Skills
        %ul
          %li
            %span.skill Ruby On Rails
            %span.dot.blue-dot.dot-7
          %li
            %span.skill HTML5/CSS3
            %span.dot.magenta-dot.dot-7
          %li
            %span.skill SQL
            %span.dot.orange-dot.dot-5
          %li
            %span.skill Javascript/jQuery
            %span.dot.yellow-dot.dot-6
          %li
            %span.skill Git/Mercurial
            %span.dot.magenta-dot.dot-6
          %li
            %span.skill AWS/Heroku
            %span.dot.red-dot.dot-4
          %li
            %span.skill DevOps
            %span.dot.orange-dot.dot-5
      .employment.right
        %h3 Employment
        %p
          %span January 2013 - Present
          Engineer in Residence at <a href="http://www.payrollhero.com">PayrollHero.com</a>
        %p
          %span June 2011 - Nov 2012
          Software Team Lead at <a href="http://www.lambdasoftware.com.au">Lambda Software</a>
        %p
          %span September 2006 - May 2011
          Software Engineer/ Business Analyst at <a href="http://www.hannanit.com.au">Hannan IT</a>
      .education
        %h3 Education
        %p B.Sc. of Computer Science, School of Computer Science & IT - RMIT, July 2007
        %p Certified Scrum Master - Scrum Alliance, June 2011
      .projects.right
        %h3 Recent Projects
        %ul
          %li <a href="http://www.payrollhero.com">PayrollHero</a> website and application
          %li <a href="http://www.mlpkr.com">Major League Poker</a> website and tablet application
          %li Buzzword agile user story web application
          %li <a href="http://danenatolicup2013.herokuapp.com">Dane Natoli Cup 2013</a> website for a photo competition I had for my birthday
          %li <a href="http://yaktracker.herokuapp.com">Yaktracker</a> website for tracking my friends' progress in the Mongol Rally
      .references
        %h3 References
        %p
          %span Michael Stephenson - +1 604 902-0999
          CEO & President, PayrollHero
        </p>
        %p>
          %span Hamish Mckay - +61 3 9452 0992
          Business Development Manager, Lambda Software
        %p
          %span Peter Hannan - +61 3 9452 0999
          CEO, HannanIT
      .interests.right
        %h3 Interests
        %ul
          %li Video games
          %li Snowboarding
          %li Reading
          %li Music
          %li Australian Rules Football
