body {
  width:900px;
  margin:60px auto;
  font-family: Verdana, Geneva, sans-serif;
  font-size:14px;
  background-color: #F2F2F2;
}

h1 {
  font-size: 40px;
  font-family: Palatino Linotype, Book Antiqua3, Palatino, serif;
  margin: 0 0 0 -5px;
  line-height: 30px;
}

div {
  float: left;
  width: 480px;
}

a {
  color:#2B547D;
  text-decoration:none;
  font-weight:bold;
}

a:hover{
  color:#000;
  text-decoration:underline;
}

img {
  width:345px;
  float:left;
  border:1px solid #000;
  margin-right:40px;
}
